@model BrianChristyWedding.Models.RsvpEntryViewModel

<h2>RSVP</h2>
<h3>Welcome, @Model.Invitation.FirstName!</h3>

@if(Model.Invitation.Rsvp == null)
{
    <h4 class="text-danger">You have not yet submitted an RSVP.</h4>
    <p>Please answer the questions in the space below.</p>
}
else
{
    <h4 class="text-success">Your RSVP has been received.</h4>
    var created = Model.Invitation.Rsvp.Created;
    var updated = Model.Invitation.Rsvp.Updated;
    if (created == updated)
    {
        <p class="text-muted">Submitted on @created.ToString("D")</p>
    }
    else
    {
        <p class="text-muted">Last updated @updated.ToString("D")</p>
    }
    <p>You can review and update your answers in the space below.</p>
}

<br />
@using (Html.BeginForm("Submit", "Rsvp", new { shortcode = Model.Invitation.Shortcode }, FormMethod.Post, new { id = "formRsvp" }))
{
<div class="row" id="sectionAttendYesNo" style="background-color: #F0F0F0">
    <br />
    <div class="text-center center-block">
        <h4>Are you able to attend?</h4>
        @Html.HiddenFor(x => x.InvitationID)
        @Html.HiddenFor(x => x.Attending)


        <div class="btn btn-success btnAttend" style="width: 90px">Yes</div>
        <div class="btn btn-danger btnAttend" style="width: 90px">No</div>
    </div>
    <br />
</div>
<div class="row" id="sectionRegrets" style="background-color: #E0E0E0; display: none;">
    <div class="text-center center-block">
        <h4>We're sorry to hear that!</h4>
        <p>You will be greatly missed.  Please click the 'Submit' button below, to complete your RSVP.</p>
    </div>
    <div class="text-center center-block col-md-12">
        <input id="btnSubmit" type="submit" class="btn btn-primary btn-lg" style="width: 90px" value="Submit" />
    </div>
    <br />
</div>
<div class="row" id="sectionNumGuests" style="background-color: #E0E0E0; display: none;">
    <br />
    <div class="text-center center-block">
        <h4>Wonderful! How many attendees?</h4>
        @Html.HiddenFor(x => x.NumGuests)

        @for (int x = 0; x < Model.Invitation.MaxAllowedGuests; x++)
        {
            <div class="btn btn-info btnNumGuests" style="width: 60px">@(x + 1)</div>
        }
    </div>
    <br />
</div>
<div class="row" id="sectionGuestInfo" style="background-color: #D0D0D0; display: none;">
    <div class="center-block col-md-12">
        <h4>Please provide a few additional guest details...</h4>
        <table class="table center-block col-md-12">
            <thead>
                <tr>
                    <th></th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Age</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int x = 0; x < Model.Invitation.MaxAllowedGuests; x++)
                {
                    <tr class="rowGuestInfo">
                        <td style="vertical-align: middle;">Guest #@(x + 1)</td>
                        <td style="vertical-align: middle;">@Html.EditorFor(y => y.Guests[x].FirstName, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="vertical-align: middle;">@Html.EditorFor(y => y.Guests[x].LastName, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td style="vertical-align: middle;">@Html.EnumDropDownListFor(y => y.Guests[x].Age, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td></td>
                    </tr>
                    <tr class="rowGuestErrors">
                        <td></td>
                        <td>@Html.ValidationMessageFor(y => y.Guests[x].FirstName, "", new { @class = "text-danger" })</td>
                        <td>@Html.ValidationMessageFor(y => y.Guests[x].LastName, "", new { @class = "text-danger" })</td>
                        <td>@Html.ValidationMessageFor(y => y.Guests[x].Age, "", new { @class = "text-danger" })</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12 form-horizontal">
        <p>Would you like to request a song to be played at the reception?  Please include the Artist and Title.<br />
        <em>Example: Queen, "Another One Bites the Dust"</em></p>
        <div class="form-group">
            <span class="control-label col-md-3"><strong>(Optional)</strong> Song request</span>
            @Html.EditorFor(x => x.SongRequest, new { htmlAttributes = new { @class="form-control col-md-9", @style = "width:250px;" } })
        </div>
    </div>
    <div class="text-center col-md-12">
        <input id="btnSubmit" type="submit" class="btn btn-primary btn-lg" style="width: 90px" value="Submit" />
        <br />
    </div>
    <br />
</div>
}

@section scripts {
    <script>
        function setInitialState() {
            var attending = @(Model.Attending.HasValue ? Model.Attending.Value.ToString().ToLower() : "null");
            var numGuests = @(Model.NumGuests.HasValue ? Model.NumGuests.Value.ToString() : "null");

            setNumGuests(numGuests);
            setAttending(attending);
        }
        function onAttendingClicked() {
            var btnIndex = $('.btnAttend').index(this);
            setAttending(btnIndex == 0);
        }
        function setAttending(value) {
            var attendingField = $('#Attending');
            var btnAttendYes = $('.btnAttend').eq(0);
            var btnAttendNo = $('.btnAttend').eq(1);

            if (value == true) {
                attendingField.val('true');
                btnAttendYes.addClass('btn-default').removeClass('btn-success');
                btnAttendNo.addClass('btn-danger').removeClass('btn-default');
                hideRegretsSection();
                showNumGuestsSection();
            }
            else if (value == false) {
                attendingField.val('false');
                btnAttendYes.addClass('btn-success').removeClass('btn-default');
                btnAttendNo.addClass('btn-default').removeClass('btn-danger');
                hideNumGuestsSection();
                hideGuestListSection();
                showRegretsSection();
            }
            else if(value == null)
            {
                attendingField.val('');
                btnAttendYes.addClass('btn-success').removeClass('btn-default');
                btnAttendNo.addClass('btn-danger').removeClass('btn-default');
                hideNumGuestsSection();
                hideGuestListSection();
                hideRegretsSection();
            }
        }

        function onNumGuestsClicked() {
            var buttonIndex = $('.btnNumGuests').index(this);
            var numGuests = buttonIndex + 1;
            setNumGuests(numGuests);
        }
        function setNumGuests(value) {
            var numGuestsField = $('#NumGuests');
            $('.btnNumGuests').removeClass('btn-default').addClass('btn-info');
            
            if(value == null) {
                numGuestsField.val('');
                hideGuestListSection();
            }
            else {
                numGuestsField.val(value);
                $('.btnNumGuests').eq(value - 1).removeClass('btn-info').addClass('btn-default');
                $('.rowGuestInfo').each(function (index) {
                    if (index < value)
                        showGuestRow(index);
                    else
                        hideGuestRow(index);
                });
                showGuestListSection();
            }
        }

        function showNumGuestsSection() {
            $('#sectionNumGuests').slideDown();
            
            var numGuests = $('#NumGuests').val();
            if(numGuests == '' || numGuests == null)
                hideGuestListSection();
            else
                showGuestListSection();
        }
        function hideNumGuestsSection() {
            $('#sectionNumGuests').hide();
        }
        function showRegretsSection() {
            $('#sectionRegrets').slideDown();
        }
        function hideRegretsSection() {
            $('#sectionRegrets').hide();
        }
        function showGuestListSection() {
            $('#sectionGuestInfo').slideDown();
        }
        function hideGuestListSection() {
            $('#sectionGuestInfo').hide();
        }
        function showGuestRow(index) {
            $('.rowGuestInfo').eq(index).fadeIn();
            $('.rowGuestErrors').eq(index).fadeIn();
        }
        function hideGuestRow(index) {
            $('.rowGuestInfo').eq(index).fadeOut();
            $('.rowGuestErrors').eq(index).fadeOut();
        }
        function onSubmit() {
            var numGuests = parseInt($('#NumGuests').val());
            var attending = $('#Attending').val() == 'true';

            // manually remove the unused rows, so they aren't included in the model
            $('.rowGuestInfo').each(function (index) {
                if (index >= numGuests || !attending)
                    $(this).remove();
            });
        }

        $(document).ready(function () {
            $('.btnAttend').click(onAttendingClicked);
            $('.btnNumGuests').click(onNumGuestsClicked);
            $('#formRsvp').submit(onSubmit);
            setInitialState();
        });
    </script>
}