@model IEnumerable<BrianChristyWedding.Models.Invitation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Shortcode</th>
        <th>Name</th>
        <th>Address</th>
        <th>Number allowed</th>
        <th>RSVP</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@(Html.Raw(item.Shortcode))</td>
        <td>@(Html.DisplayFor(modelItem => item.Name))</td>
        <td>@(Html.DisplayFor(modelItem => item.Address))</td>
        <td>@(Html.DisplayFor(modelItem => item.MaxAllowedGuests))</td>
        <td>@(item.Rsvp == null ? Html.Raw("None") : Html.ActionLink(string.Format("{0} guests", item.Rsvp.Guests.Count), "Details", "Rsvp"))</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
