@model BrianChristyWedding.Models.Rsvp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rsvp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Invitation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invitation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvitationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
